#table_1, td{
    border: 1px solid;
    width: 50%;
    margin: 0 auto;
    text-align: center;

}
.container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
body {
    margin: 0;
    box-sizing: border-box;
    background-image: url('background_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }